


body {
  background-color:rgb(247, 241, 227);
}
.container {
  display: flex;
  max-width: 90vw;
  margin: 0 auto;
  /* flex-direction: column; */
  /* justify-content: space-evenly; */
}
/* styling the h1 element "welcome" */
header {
  background-color:rgb(27, 20, 100);
  display:flex;
  color: rgb(234, 32, 39);
  font-size: 60px;
  padding: 85px;
  text-decoration: line-through rgb(255, 195, 18);
  text-transform: uppercase;
  letter-spacing: -15px;

}
/* position of h1 element */
header h1{
  position: relative;
  top:75px;
  right: 75px;
}
/* navbar styling */
 .navbar ul {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin-bottom: 10px;
  text-decoration: none;
  background-color: #d1ccc0;
  margin-bottom: 75px;
}
 /* removing the underline in the anchor tag */
.navbar a {
  text-decoration: none;
  color: rgb(4, 4, 73);
  
}
/* styling the li */
.buttons {
  border: 2px  rgb(27, 20, 100);
  text-transform: uppercase;
  padding: 3px;
  letter-spacing: 1.3px;
  font-size: 22px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* body of the page  */
.container h2 {
  margin:30px; 
  border: solid;
  font-size: 45px;
  width: 13%;
  max-height: 600px;
}
/* styling the about me section */
.section1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: space-between;
}

.section1 p {
  padding-top:100px;
  width: 50%;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.5em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-left: 25px;
  max-width: 1200px;
}
.avatar img {
  width: 20vw;
  height: 50vh;  
}
/* to get the caption to stay under the image, I added br in html mid sentence. */
.avatar figcaption {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* section 2 styling */
.section2 {
  display:flex;
  flex-direction: row;
  background-color: #d1ccc0;
  margin-top:100px;
  height:80vh;
  width: 100vw;
}
 /* large image in section 2 */
.appLarge {
  height:70vh;
  width:34vw;
  padding-top: 30px;
}

/* the 4 small loading images and the captions of images */
.loading {
  width:15vw;
  height:28vh;
  padding:15px;
}

#smallpics {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 35px 15px;
}
.section2 figcaption {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}


/* Contact Me Section */

.section3 {
  display: flex;
  flex-direction: row;
  margin-top:100px;
}

/* style for the contact me form and p */
.form {
  width: 75%;
  text-align: center;
  /* position: relative;
  /* top:-100px; switched this off when i displayed flex section 3 instead of inline and column
  right: -500px; */
  font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding:20px;
  margin:75px;
  background-color:#d1ccc0; ;
  /* justify-content: space-between; */
}
/* sizing the input field for name/email section */
#name , #email  {
  height: 30px;
}
/* sizing the sumbit button */
#submit {
  height: 4vh;
  width:7vw;
  font-size: 80%;
  text-align: center;
}
form {
  padding-top:10px;
}
.form {
  font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding:20px;
  margin:75px;
  background-color:#d1ccc0; 
  width: 75%;
  text-align: center;
}
footer {
  text-align: center;
  font-size: 22px;
  margin-top: 30px;
  padding-bottom:15px;
}

@media screen and (max-width:768px) {

}

@media screen and (max-width:994px) {
  
}
@media screen and (max-width: 500px) {
  #avatar{
    margin-left: 50px;
  }
  .section1 p {
    margin-top: -75px;
  }
  .section1 h2 {
    width:28vw;
  }
  header h1 {
    font-size:100px;
    letter-spacing: -8px;
  }
}