body {
  background-color:rgb(247, 241, 227);
}
.container{
  margin: auto;
}
/* styling the h1 element "welcome" */
header {
  background-color:rgb(27, 20, 100);
  display:flex;
  color: rgb(234, 32, 39);
  font-size: 60px;
  padding: 85px;
  text-decoration: line-through rgb(255, 195, 18);
  text-transform: uppercase;
  letter-spacing: -15px;

}
/* position of h1 element */
header h1{
  position: relative;
  top:75px;
  right: 75px;
}
/* navbar styling */
 .navbar ul {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin-bottom: 10px;
  text-decoration: none;
  background-color: #d1ccc0;
  margin-bottom: 75px;
}
 /* removing the underline in the anchor tag */
.navbar a {
  text-decoration: none;
  color: rgb(4, 4, 73);
  
}
/* styling the li */
.buttons {
  border: 2px  rgb(27, 20, 100);
  text-transform: uppercase;
  padding: 3px;
  letter-spacing: 1.3px;
  font-size: 22px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* body of the page  */
.container h2 {
  margin:30px;
  margin-right: 50px;
  border: solid;
  font-size: 45px;
  width: 12%;
  max-height: 600px;
}
/* styling the about me section */
.section1 {
  display: flex;
  flex-direction: row; 
  margin-bottom: 20px;
  justify-content: space-around;
}

.section1 p {
  padding-top:100px;
  width: 50%;
  font-size: 22px;
  line-height: 1.5em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-left: 25px;
}
.avatar img {
  width: 20vw;
  height: 50vh;  
}
/* to get the caption to stay under the image, I added br in html mid sentence. */
.avatar figcaption {
  text-align: center;
  color:black;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* section 2 styling */
.section2 {
  display:flex;
  flex-direction: row; 
  background-color: #d1ccc0;
  margin-top:100px;
  padding-right: 400px;
}
 
.appLarge {
  height:600px;
  width:600px;
  padding-top: 30px;
}

.loading {
  width:200px;
  height:200px;
}
/* the 4 small applications being positioned */
#figure4 {
 position:relative;
 left: 200%;
 top: -2%;
}

#figure3 {
  position: relative;
 left: 100%;
 }

 #figure2 {
 position: relative;
 left: 200%;
 bottom: -2%;
 padding-top:15px;
 }

 #figure5 {
  position: relative;
  left: 300%;
  bottom: 50%;
  
  }
/* captions on all photos in mywork section */
 #mywork figcaption {
   text-align: center;
   font-size: 22px;
 }
.section3 {
  display: flex;
  flex-direction: row;
  margin-top:100px;
}

/* style for the contact me form and p */
.form {
  /* width: 50%; */
  text-align: center;
  /* position: relative;
  /* top:-100px; switched this off when i displayed flex section 3 instead of inline and column
  right: -500px; */
  font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding:20px;
  margin:75px;
  background-color:#d1ccc0; ;
  /* justify-content: space-between; */
}

form {
  padding-top:10px;
  font-size: 35px;
}
footer {
  text-align: center;
  font-size: 22px;
  margin-top: 30px;
  padding-bottom:15px;
}

